<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Inspirational Messages</title>
</head>
<body>
<h1>Send an Inspirational Message!</h1>
<form action="http://localhost:5000/" method="get">
    <label for="fname">Name:</label>
    <input type="text" id="fname" name="fname"> <br><br>
    <label for="message">Message:</label>
    <input type="text" id="message" messsge="message"> <br><br>
    <input type="submit" value="Submit">
</form>
</body>